<h1>Listed Restaurant </h1>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <hr>
          <th scope="col">Opreations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.address}}</td>
          <hr>
          <td><i class="fa fa-trash" (click)="deleteDone(item.id)"
              style="font-size:20px;color:rgb(133, 6, 6);cursor: pointer;"></i></td><br>
          <td><a routerLink="/update/{{item.id}}"><i class="fa fa-edit"
                style="font-size:20px;color:rgb(10, 7, 7); cursor: pointer;"></i></a>edit</td>

        </tr>

      </tbody>
    </table>

  </div>
</div>