/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/img/pic.jpg');
    height: 100%;
    background-size: 100%;
    background-size: cover;
}